Practica3ProveedorSecurity/src/main/webapp/WEB-INF/wsdl/SSEstimacionParadasTUS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) 
	JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 
	svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) 
	JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 
	svn-revision#unknown. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.unican.es/ss/SSEstimacionParadasTUS"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://www.unican.es/ss/SSEstimacionParadasTUS"
	name="EstimacionParadasTUSService">
	<types>
		<xs:schema
			xmlns:tns="http://www.unican.es/ss/SSEstimacionParadasTUS"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://www.unican.es/ss/SSEstimacionParadasTUS">
			<xs:element name="DatosNoDisponiblesException"
				type="tns:DatosNoDisponiblesException" />
			<xs:element name="ParadaNoValidaException"
				type="tns:ParadaNoValidaException" />
			<xs:element name="getEstimacionSiguienteBus"
				type="tns:getEstimacionSiguienteBus" />
			<xs:element name="getEstimacionSiguienteBusResponse"
				type="tns:getEstimacionSiguienteBusResponse" />
			<xs:complexType name="getEstimacionSiguienteBus">
				<xs:sequence>
					<xs:element name="arg0" type="xs:string" minOccurs="0" />
					<xs:element name="arg1" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType
				name="getEstimacionSiguienteBusResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:estimacionTUS"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="estimacionTUS">
				<xs:sequence>
					<xs:element name="direccion" type="xs:string"
						minOccurs="0" />
					<xs:element name="estimacion1" type="xs:string"
						minOccurs="0" />
					<xs:element name="estimacion2" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ParadaNoValidaException">
				<xs:sequence>
					<xs:element name="message" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DatosNoDisponiblesException">
				<xs:sequence>
					<xs:element name="message" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="getEstimacionSiguienteBus">
		<part name="parameters" element="tns:getEstimacionSiguienteBus" />
	</message>
	<message name="getEstimacionSiguienteBusResponse">
		<part name="parameters"
			element="tns:getEstimacionSiguienteBusResponse" />
	</message>
	<message name="ParadaNoValidaException">
		<part name="fault" element="tns:ParadaNoValidaException" />
	</message>
	<message name="DatosNoDisponiblesException">
		<part name="fault" element="tns:DatosNoDisponiblesException" />
	</message>
	<portType name="IEstimacionParadasTUS">
		<operation name="getEstimacionSiguienteBus">
			<input
				wsam:Action="http://www.unican.es/ss/SSEstimacionParadasTUS/IEstimacionParadasTUS/getEstimacionSiguienteBusRequest"
				message="tns:getEstimacionSiguienteBus" />
			<output
				wsam:Action="http://www.unican.es/ss/SSEstimacionParadasTUS/IEstimacionParadasTUS/getEstimacionSiguienteBusResponse"
				message="tns:getEstimacionSiguienteBusResponse" />
			<fault message="tns:ParadaNoValidaException"
				name="ParadaNoValidaException"
				wsam:Action="http://www.unican.es/ss/SSEstimacionParadasTUS/IEstimacionParadasTUS/getEstimacionSiguienteBus/Fault/ParadaNoValidaException" />
			<fault message="tns:DatosNoDisponiblesException"
				name="DatosNoDisponiblesException"
				wsam:Action="http://www.unican.es/ss/SSEstimacionParadasTUS/IEstimacionParadasTUS/getEstimacionSiguienteBus/Fault/DatosNoDisponiblesException" />
		</operation>
	</portType>
	<binding name="EstimacionParadasTUSPortBinding"
		type="tns:IEstimacionParadasTUS">
		<wsp:Policy wsu:Id="UsernameToken"
			xmlns:wsp=http://schemas.xmlsoap.org/ws/2004/09/policy
			xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
			<wsp:ExactlyOne>
				<wsp:All>
					<sp:SupportingTokens
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
						<wsp:Policy>
							<sp:UsernameToken
								sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
								<wsp:Policy>
									<sp:HashPassword />
								</wsp:Policy>
						</wsp:Policy>
					</sp:SupportingTokens>
					<wsss:ValidatorConfiguration
						wspp:visibility="private"
						xmlns:wsss="http://schemas.sun.com/2006/03/wss/server"
						xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
						<wsss:Validator name="usernameValidator"
							classname="es.unican.ss.SSEstimacionPararadasTUS.PlainTextPasswordValidator" />
					</wsss:ValidatorConfiguration>
				</wsp:All>
			</wsp:ExactlyOne>
		</wsp:Policy>
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="getEstimacionSiguienteBus">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ParadaNoValidaException">
				<soap:fault name="ParadaNoValidaException" use="literal" />
			</fault>
			<fault name="DatosNoDisponiblesException">
				<soap:fault name="DatosNoDisponiblesException"
					use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="EstimacionParadasTUSService">
		<port name="EstimacionParadasTUSPort"
			binding="tns:EstimacionParadasTUSPortBinding">
			<soap:address
				location="http://localhost:8080/SSEstimacionParadasTUS" />
		</port>
	</service>
</definitions>